/* import the necessary Bootstrap files */
@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";

// Changing the theme colors
$primary: #111111;
$secondary: #555555; // gold
/*$success: #65ff9f;*/
/*$info: #7164ff;*/
/*$warning: #ff9f65;*/
/*$danger: #ff457b;*/
$light: #444444;  // very light green
$dark: #111111;   // dark green

/*// Your variable overrides*/
$body-bg: $dark;
$card-bg: $secondary;
$body-color: black;

$theme-colors: (
    // this is but a tiny snippet of _variables.scss
    'primary':       $primary,
    'secondary':     $secondary,
    'success':       $success,
    'info':          $info,
    'warning':       $warning,
    'danger':        $danger,
    'light':         $light,
    'dark':          $dark
);

@import "global";
@import "bootstrap/scss/bootstrap";
