$whiteBeltColor:  white;
$greenBeltColor:  green;
$yellowBeltColor: #ffc300 ;
$orangeBeltColor: #ff7c00;
$redBeltColor: #ff0000;
$brownBeltColor: #a04e01;
$blackBeltColor: #111111;
$doubleBlackBeltColor: #000000;
$tripleBlackBeltColor: #000000;

html *
{
    font-family: 'Mochiy Pop P One', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    overflow: scroll;
    background-color: #F0F0F0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 65px;
  padding: 5px;
  z-index: -9999;
  background-color: #f5f5f5;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#navigation,.navbar .navbar-default {
    height: 95px;
    background-repeat: repeat-x;
}

#navigation ul {
    border-radius: 15px;
    margin-left: 20px;
    padding-left: 0px;
    background: rgba(0,0,0,0.5);
}

#chessMen {
    background-image: url(/chessMen.png);
    height: 80px;
    width: 200px;
    float: right;
    margin-right:25px;
    padding-top: 8px;
    padding-bottom: 8px;
}


li {
    /*float: left;*/
}
tr {
   line-height: 1;
   min-height: 25px;
   height: 25px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    /*background: rgba(0,0,0,0.7);*/
    /*background-color: #111;*/
}

.button a:hover {
    /*background: rgba(0,0,0,0.7);*/
    /*background-color: #111;*/
}

#game-chat-log {
    /*padding:5px;*/
    background:#ddd;
    border-radius:5px;
    overflow-y: scroll;
    border:1px solid #CCC;
    margin-top:5px;
    height: 360px;
}

#global-chat-log {
    padding:5px;
    background:#ddd;
    border-radius:5px;
    overflow-y: scroll;
    border:1px solid #CCC;
    margin-top:5px;
    height: 360px;
}

#chat-input {
    border-radius:2px;
    border:1px solid #ccc;
    margin-top:3px;
    padding:5px;
    width: 100%;
}

#global-chat-input {
    border-radius:2px;
    border:1px solid #ccc;
    margin-top:3px;
    padding:5px;
    width: 100%;
}

#status {
    width:88px;
    display:block;
    float:left;
    margin-top:15px;
}
#gameContainer {
    margin: auto;
    width:880px;
    height:540px;
    background-color:white;
    padding:20px;
}

#playerWrapper{
    height: 20px;
    display:flex;
    justify-content:center;
    align-items:center;
}

#blackbelt {
    width:20px;
    height:20px;
    background-color:$blackBeltColor;
    display:inline-block;
    padding:2px;
    border: 1px solid black ;
}

.doubleblackbeltColor {
    color:$blackBeltColor;
}

#doubleblackbelt {
    width:20px;
    height:20px;
    background-color:$doubleBlackBeltColor;
    display:inline-block;
    padding:1px;
    border: 2px solid grey;
}
.tripleblackbeltColor {
    color:$blackBeltColor;
}

#tripleblackbelt {
    width:20px;
    height:20px;
    background-color:$tripleBlackBeltColor;
    display:inline-block;
    padding:1px;
    border: 2px solid gold;
}
.blackbeltColor {
    color:$tripleBlackBeltColor;
}

#brownbelt {
    width:20px;
    height:20px;
    background-color:$brownBeltColor;
    display:inline-block;
    padding:2px;
    border: 1px solid red ;
}
.brownbeltColor {
    color:$brownBeltColor;
}

#redbelt {
    width:20px;
    height:20px;
    background-color:$redBeltColor;
    display:inline-block;
    padding:2px;
    border: 1px solid orange ;
}
.redbeltColor {
    color:$redBeltColor;
}

#orangebelt {
    width:20px;
    height:20px;
    background-color:$orangeBeltColor;
    display:inline-block;
    padding:2px;
    border: 1px solid yellow ;
}
.orangebeltColor {
    color:$orangeBeltColor;
}

#yellowbelt {
    width:20px;
    height:20px;
    background-color:$yellowBeltColor;
    display:inline-block;
    padding:2px;
    border: 1px solid green ;
}
.yellowbeltColor {
    color: $yellowBeltColor;
}

#whitebelt {
    width:20px;
    height:20px;
    background-color:$whiteBeltColor;
    display:inline-block;
    padding:2px;
    border: 1px solid grey ;
}
.whitebeltColor {
    color:$whiteBeltColor;
}

#greenbelt {
    width:20px;
    height:20px;
    background-color:$greenBeltColor;
    display:inline-block;
    padding:2px;
    border: 1px solid white ;
}
.greenbeltColor {
    color:$greenBeltColor;
}
.beltText {
    display: inline-block;
    height: 25px;
    font-size: 20px;
    padding: 2px;
}

#boardContainer {
    float:left;
    margin: auto;
}

#sidebar {
    padding:20px;
    height:480px;
    width:300px;
    border-radius:2px;
    border:1px solid #ccc;
    background-color:lightgrey;
    float:left;
}

.circle:before {
    content: ' \25CF';
    font-size: 20px;
}

.offline {
    color:grey;
}

.online {
    color:green;
}

#my-game-row {
    background-color: $primary
}

#my-game-row:hover {
    background-color: darken($primary, 10%);
}
