/* import the necessary Bootstrap files */
@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";

// Changing the theme colors
$primary: green;  // light green
$secondary: #ffff66; // gold
/*$success: #65ff9f;*/
/*$info: #7164ff;*/
/*$warning: #ff9f65;*/
/*$danger: #ff457b;*/
$light: #ccffbb;  // very light green
$dark: #999977;   // dark green

/*// Your variable overrides*/
$body-bg: $dark;
$card-bg: $secondary;
$body-color: $gray-800;

$theme-colors: (
    // this is but a tiny snippet of _variables.scss
    'primary':       $primary,
    'secondary':     $secondary,
    'success':       $success,
    'info':          $info,
    'warning':       $warning,
    'danger':        $danger,
    'light':         $light,
    'dark':          $dark
);

@import "bootstrap/scss/bootstrap";
