/* import the necessary Bootstrap files */
@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";

// Changing the theme colors
$primary: #a59100;  // light green
$secondary: #ffff66; // gold
/*$success: #65ff9f;*/
/*$info: #7164ff;*/
/*$warning: #ff9f65;*/
/*$danger: #ff457b;*/
$light: #fffff6;  // very light green
$dark: #6b5e00;   // dark green

/*// Your variable overrides*/
$body-bg: $dark;
$card-bg: $secondary;
$body-color: $gray-800;

$theme-colors: (
    // this is but a tiny snippet of _variables.scss
    'primary':       $primary,
    'secondary':     $secondary,
    'success':       $success,
    'info':          $info,
    'warning':       $warning,
    'danger':        $danger,
    'light':         $light,
    'dark':          $dark
);

#navigation,.navbar .navbar-default {
    height: 95px;
    background-image: url("/yellowBelt.png");
    background-repeat: repeat-x;
}

#navigation ul {
    border-radius: 15px;
    background: rgba(0,0,0,0.5);
}


@import "global";
@import "bootstrap/scss/bootstrap";
