[Unit]
Description=HTTP server for Kung Fu Chess
After=network.target
 
[Service]
Environment=SYSTEMD_SERVICE_FILE=/etc/systemd/system/kungfuchessweb.service
Environment=MOJO_SERVER_PID_FILE=/var/run/kungfuchessweb.pid
Environment=MYAPP_HOME=/var/www/kungfuchess
 
User=root
Type=simple
WorkingDirectory=/var/www/kungfuchess/
ExecStart=/usr/bin/perl /var/www/kungfuchess/KungFuWeb.pl daemon -l 'http://*:3000' -m production > /var/log/kungfuchess-server 2>&1
StandardOutput=file:/var/log/kungfuchess/web.log
StandardError=file:/var/log/kungfuchess/web-error.log
KillMode=process
SyslogIdentifier=kungfuchess_web
 
[Install]
WantedBy=multi-user.target
