[Unit]
Description=ws server for Kung Fu Chess
After=network.target
 
[Service]
Environment=SYSTEMD_SERVICE_FILE=/etc/systemd/system/kungfuchessws.service
Environment=MOJO_SERVER_PID_FILE=/var/run/kungfuchess-ws.pid
Environment=MYAPP_HOME=/var/www/kungfuchess
 
User=root
Type=simple
WorkingDirectory=/var/www/kungfuchess/
ExecStart=/usr/bin/perl /var/www/kungfuchess/KungFuWeb.pl daemon -l 'http://*:3001' -m production
StandardOutput=file:/var/log/kungfuchess/ws-log
StandardError=file:/var/log/kungfuchess/ws-error.log
KillMode=process
SyslogIdentifier=kungfuchess_ws
 
[Install]
WantedBy=multi-user.target
