/*
Errno::ENOENT: No such file or directory - scss/brown.scss

Backtrace:
/usr/local/rvm/gems/ruby-2.0.0-p648/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:454:in `read'
/usr/local/rvm/gems/ruby-2.0.0-p648/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:454:in `update_stylesheet'
/usr/local/rvm/gems/ruby-2.0.0-p648/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/local/rvm/gems/ruby-2.0.0-p648/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `each'
/usr/local/rvm/gems/ruby-2.0.0-p648/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/local/rvm/gems/ruby-2.0.0-p648/gems/sass-3.7.4/lib/sass/plugin.rb:82:in `update_stylesheets'
/usr/local/rvm/gems/ruby-2.0.0-p648/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:338:in `watch_or_update'
/usr/local/rvm/gems/ruby-2.0.0-p648/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:51:in `process_result'
/usr/local/rvm/gems/ruby-2.0.0-p648/gems/sass-3.7.4/lib/sass/exec/base.rb:50:in `parse'
/usr/local/rvm/gems/ruby-2.0.0-p648/gems/sass-3.7.4/lib/sass/exec/base.rb:18:in `parse!'
/usr/local/rvm/gems/ruby-2.0.0-p648/gems/sass-3.7.4/bin/sass:13:in `<top (required)>'
/usr/local/rvm/gems/ruby-2.0.0-p648/bin/sass:23:in `load'
/usr/local/rvm/gems/ruby-2.0.0-p648/bin/sass:23:in `<main>'
/usr/local/rvm/gems/ruby-2.0.0-p648/bin/ruby_executable_hooks:15:in `eval'
/usr/local/rvm/gems/ruby-2.0.0-p648/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory - scss/brown.scss"; }
